<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 ">
        <div class="input-group d-flex justify-content-start">
            <button class="btn btn-outline-light dropdown-toggle " type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Menu</button>
            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" (click)="showFilter()">Filter</a></li>
                <li><a class="dropdown-item" (click)="showLegend()">Legend</a></li>
                <li><a class="dropdown-item" routerLink="/stats">Statistics</a></li>
                <li><a class="dropdown-item" routerLink="/address">Edit addresses</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/reset">Reset</a></li>
            </ul>
            <div class="dropdown ms-4">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="addressDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">Address</button>
                <ul class="dropdown-menu" aria-labelledby="addressDropdown">
                    <li *ngFor="let TempAddress of address">
                        <a class="dropdown-item" (click)="selectAddress(TempAddress)"> {{TempAddress.location}} {{TempAddress.room}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="navbar-brand title " href="#">Miele - environment quality in {{this.selectedAddress.location}} - {{this.selectedAddress.room}}</a>
        </div>
    </nav>
    <div class="container">
        <div class="row p-2">
            <div class="col-6 ">
                <canvasjs-chart [options]="temperatureChart"
                    [styles]="{width: '100%', height:'260px'}"></canvasjs-chart>
            </div>
            <div class="col-6">
                <canvasjs-chart [options]="hydrogenChart" [styles]="{width: '100%', height:'260px'}"></canvasjs-chart>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-6">
                <canvasjs-chart [options]="humidityChart" [styles]="{width: '100%', height:'260px'}"></canvasjs-chart>
            </div>
            <div class="col-6">
                <canvasjs-chart [options]="lightChart" [styles]="{width: '100%', height:'260px'}"></canvasjs-chart>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6 ">
                <canvasjs-chart [options]="dustChart" [styles]="{width: '100%', height:'260px'}"></canvasjs-chart>
            </div>
            <div class="col-3  " *ngIf="showLegendBool == true">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark legend">Optimal values for an office</li>
                    <li class="list-group-item list-group-item-dark">Temperature: 21 - 25 Celsius</li>
                    <li class="list-group-item list-group-item-dark">Light: 50 - 100 lux</li>
                    <li class="list-group-item list-group-item-dark">Humidity: 40 - 60 %</li>
                    <li class="list-group-item list-group-item-dark">Hydrogen: below 10 ppm</li>
                    <li class="list-group-item list-group-item-dark">Dust: below 0.7 grams/m3</li>

                </ul>
                <div class="d-flex justify-content-center bd-highlight mt-2">
                    <button class="btn btn-danger  " (click)="closeLegend()">Close</button>
                </div>
            </div>
            <div *ngIf="showFilterBool == true" class="col-3 justify-content-center">
                <div class="justify-content-center d-flex">
                    <ngb-datepicker class="" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1"
                        [dayTemplate]="t" outsideDays="hidden" />
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary m-1" (click)="submitDate()">Submit</button>
                    <button class="btn btn-warning m-1" (click)="resetFilter()">Reset filter</button>
                    <button class="btn btn-danger m-1" (click)="closeFilter()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>